{% extends 'base.html' %}
{% load static %}
{% block title %}Home | Tech Society{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<body>
  <style>
    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  </style>

  <!-- Header -->
  <header class=" text-white text-center py-5">
    <div class="container">
      <h1 class="display-4">Meet the Minds Behind Tech Society</h1>
    </div>
  </header>

  <!-- Main content -->
  <section class="my-5">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Mr_C_Obed_Otto.jpg' %}" alt="Mr. C Obed Otto">
      <div class="card2-body text-center">
        <h2 class="card2-title">Mr C Obed Otto</h2>
        <p class="text-center">Community Head</p>
      </div>
    </div>
  </section>
  <section class="my-5">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/akila.png' %}" alt="akila">
      <div class="card2-body text-center">
        <h2 class="card2-title">Akila</h2>
        <p class="text-center">Overall Faculty Coordinator</p>
      </div>
    </div>
  </section>
  <section class="m-3">

    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Marinto_Richee_J.jpg' %}" alt="Sarankumar J">
      <div class="card2-body text-center">
        <h2 class="card2-title">Sarankumar J</h2>
        <p class="text-center">Overall Student Coordinator</p>
      </div>
    </div>
  </section>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Aldrin_Lijo.jpg' %}" alt="Aldrin Lijo J E">
      <div class="card2-body text-center">
        <h2 class="card2-title">Aldrin Lijo J E</h2>
        <p class="text-center">Assistant Coordinator</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/karthick.jpg' %}" alt="Karthick Prabakaran">
      <div class="card2-body text-center">
        <h2 class="card2-title">Karthick Prabakaran</h2>
        <p class="text-center">Assistant Coordinator</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Santhan_Kumar.jpg' %}" alt="K Santhan Kumar">
      <div class="card2-body text-center">
        <h2 class="card2-title">K Santhan Kumar</h2>
        <p class="text-center">Assistant Coordinator</p>
      </div>
    </div>
  </section>
  <h2 class="text-center">Web Development</h2>
  <section>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Karthikeyan_P.jpg' %}" alt="Karthikeyan P">
      <div class="card2-body text-center">
        <h2 class="card2-title">Karthikeyan P</h2>
        <p class="text-center">Secretary</p>
      </div>
    </div>

  </section>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Sagul.jpg' %}" alt="Gokkul M ">
      <div class="card2-body text-center">
        <h2 class="card2-title">Gokkul M </h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Varshini_D.jpg' %}" alt="Varshini D">
      <div class="card2-body text-center">
        <h2 class="card2-title">Varshini D</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Jeevapriya_R.jpg' %}" alt="Jeevapriya R">
      <div class="card2-body text-center">
        <h2 class="card2-title">Jeevapriya R</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
  </section>
  <h2 class="display-6 text-center">Machine Learning</h2>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Chethan_Y.jpg' %}" alt="Ronick Aakshath P">
      <div class="card2-body text-center">
        <h2 class="card2-title">Ronick Aakshath P</h2>
        <p class="text-center">Secretary</p>
      </div>
    </div>
  </section>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Sabitha_P.jpg' %}" alt="Sabitha P">
      <div class="card2-body text-center">
        <h2 class="card2-title">Sabitha P</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Sandhiya_R.jpg' %}" alt="Sandhiya R ">
      <div class="card2-body text-center">
        <h2 class="card2-title">Sandhiya R </h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/ROHIT_JAIN_D.jpg' %}" alt="ROHIT JAIN D">
      <div class="card2-body text-center">
        <h2 class="card2-title">Rohit Jain D</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
  </section>
  <h2 class="display-6 text-center">Intelligent Systems</h2>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Kavya_K.jpg' %}" alt="Kavya K">
      <div class="card2-body text-center">
        <h2 class="card2-title">Kavya K</h2>
        <p class="text-center">Secretary</p>
      </div>
    </div>
  </section>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Ezhil_sree_J.jpg' %}" alt="Ezhil sree J">
      <div class="card2-body text-center">
        <h2 class="card2-title">Ezhil sree J</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Hari_Prasath_P.jpg' %}" alt="Hari Prasath. P">
      <div class="card2-body text-center">
        <h2 class="card2-title">Hari Prasath P</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/SANJAYKUMAR_NB.jpg' %}" alt="SANJAYKUMAR N B">
      <div class="card2-body text-center">
        <h2 class="card2-title">Sanjaykumar N B</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
  </section>
  <h2 class="display-6 text-center">Game and App Development</h2>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Kirthi_Niharika_T.jpeg' %}" alt="Kirthi Niharika T">
      <div class="card2-body text-center">
        <h2 class="card2-title">Kirthi Niharika T</h2>
        <p class="text-center">Secretary</p>
      </div>
    </div>
  </section>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/YOHESHKUMAR.jpeg' %}" alt="YOHESH KUMAR R.M">
      <div class="card2-body text-center">
        <h2 class="card2-title">Yohesh Kumar R M</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/sri_harish.jpg' %}" alt="Sri Harish B">
      <div class="card2-body text-center">
        <h2 class="card2-title">Sri Harish B</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/logesh.png' %}" alt="Logesh.N.A">
      <div class="card2-body text-center">
        <h2 class="card2-title">Logesh N A</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
  </section>

  <h2 class="display-6 text-center">Cyber Security</h2>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Sanjay_Ragavendar.jpg' %}" alt="Sanjay Ragavendar M K">
      <div class="card2-body text-center">
        <h2 class="card2-title">Sanjay Ragavendar M K</h2>
        <p class="text-center">Secretary</p>
      </div>
    </div>
  </section>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Saravanan_S.jpg' %}" alt="Jothikrishnaa V">
      <div class="card2-body text-center">
        <h2 class="card2-title">Jothikrishnaa V</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Tejusve_Kabeer_F.jpg' %}" alt="Tejusve Kabeer F">
      <div class="card2-body text-center">
        <h2 class="card2-title">Tejusve Kabeer F</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Manoj_S.jpg' %}" alt="Manoj S">
      <div class="card2-body text-center">
        <h2 class="card2-title">Manoj S</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
  </section>

</body>

</html>
{% endblock %}