{% extends 'base.html' %}
{% load static %}
{% block title %}Home | Tech Society{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<body>
  <style>
    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  </style>
  <div class="bubbles"></div>
  <!-- Header -->
  <header class=" text-white text-center py-5">
    <div class="container">
      <h1 class="display-4">Meet the Minds Behind Tech Society</h1>
    </div>
  </header>

  <!-- Main content -->
  <section class="my-5">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/mr_obed_otto.jpeg' %}" alt="Mr. C Obed Otto">
      <div class="card2-body text-center">
        <h2 class="card2-title">Mr C Obed Otto</h2>
        <p class="text-center">Community Head</p>
      </div>
    </div>
  </section>
  <section class="my-5">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/akilamam.jpeg' %}" alt="akila">
      <div class="card2-body text-center">
        <h2 class="card2-title">Ms Akila Mohan</h2>
        <p class="text-center">Overall Faculty Coordinator</p>
      </div>
    </div>
  </section>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/WhatsApp Image 2024-09-24 at 9.31.10 PM.jpeg' %}" alt="Sarankumar J">
      <div class="card2-body text-center">
        <h2 class="card2-title">Sarankumar J</h2>
        <p class="text-center">Overall Student Coordinator</p>
      </div>
    </div>
  </section>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/aldrin.jpg' %}" alt="Aldrin Lijo J E">
      <div class="card2-body text-center">
        <h2 class="card2-title">Aldrin Lijo J E</h2>
        <p class="text-center">Assistant Coordinator</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/karthick.jpg' %}" alt="Karthick Prabakaran">
      <div class="card2-body text-center">
        <h2 class="card2-title">Karthick Prabakaran</h2>
        <p class="text-center">Assistant Coordinator</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/santhan.jpg' %}" alt="K Santhan Kumar">
      <div class="card2-body text-center">
        <h2 class="card2-title">K Santhan Kumar</h2>
        <p class="text-center">Assistant Coordinator</p>
      </div>
    </div>
  </section>
  <h2 class="text-center">Web Development</h2>
  <section>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/karthikeyan.jpg' %}" alt="Karthikeyan P">
      <div class="card2-body text-center">
        <h2 class="card2-title">Karthikeyan P</h2>
        <p class="text-center">Secretary</p>
      </div>
    </div>

  </section>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/gokkul.jpg' %}" alt="Gokkul M ">
      <div class="card2-body text-center">
        <h2 class="card2-title">Gokkul M </h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/varshini.jpg' %}" alt="Varshini D">
      <div class="card2-body text-center">
        <h2 class="card2-title">Varshini D</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/jeevapriya.jpg' %}" alt="Jeevapriya R">
      <div class="card2-body text-center">
        <h2 class="card2-title">Jeevapriya R</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
  </section>
  <h2 class="display-6 text-center">Machine Learning</h2>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/ronick.jpg' %}" alt="Ronick Aakshath P">
      <div class="card2-body text-center">
        <h2 class="card2-title">Ronick Aakshath P</h2>
        <p class="text-center">Secretary</p>
      </div>
    </div>
  </section>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/Sabitha.jpg' %}" alt="Sabitha P">
      <div class="card2-body text-center">
        <h2 class="card2-title">Sabitha P</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/sandhya.jpg' %}" alt="Sandhiya R ">
      <div class="card2-body text-center">
        <h2 class="card2-title">Sandhiya R </h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/rohit.jpg' %}" alt="ROHIT JAIN D">
      <div class="card2-body text-center">
        <h2 class="card2-title">Rohit Jain D</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
  </section>
  <h2 class="display-6 text-center">Intelligent Systems</h2>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/kavya.jpg' %}" alt="Kavya K">
      <div class="card2-body text-center">
        <h2 class="card2-title">Kavya K</h2>
        <p class="text-center">Secretary</p>
      </div>
    </div>
  </section>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/ezil.jpg' %}" alt="Ezhil sree J">
      <div class="card2-body text-center">
        <h2 class="card2-title">Ezhil sree J</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/hariprasath.jpg' %}" alt="Hari Prasath. P">
      <div class="card2-body text-center">
        <h2 class="card2-title">Hari Prasath P</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/sanjaykumar.jpg' %}" alt="SANJAYKUMAR N B">
      <div class="card2-body text-center">
        <h2 class="card2-title">Sanjaykumar N B</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
  </section>
  <h2 class="display-6 text-center">Game and App Development</h2>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/kirthi.jpg' %}" alt="Kirthi Niharika T">
      <div class="card2-body text-center">
        <h2 class="card2-title">Kirthi Niharika T</h2>
        <p class="text-center">Secretary</p>
      </div>
    </div>
  </section>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/yogesh.jpg' %}" alt="YOHESH KUMAR R.M">
      <div class="card2-body text-center">
        <h2 class="card2-title">Yohesh Kumar R M</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/sri_harish.jpg' %}" alt="Sri Harish B">
      <div class="card2-body text-center">
        <h2 class="card2-title">Sri Harish B</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/logesh.jpg' %}" alt="Logesh.N.A">
      <div class="card2-body text-center">
        <h2 class="card2-title">Logesh N A</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
  </section>

  <h2 class="display-6 text-center">Cyber Security</h2>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/sanjay.png' %}" alt="Sanjay Ragavendar M K">
      <div class="card2-body text-center">
        <h2 class="card2-title">Sanjay Ragavendar M K</h2>
        <p class="text-center">Secretary</p>
      </div>
    </div>
  </section>
  <section class="m-3">
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/jothi.png' %}" alt="Jothikrishnaa V">
      <div class="card2-body text-center">
        <h2 class="card2-title">Jothikrishnaa V</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/kabeer.jpg' %}" alt="Tejusve Kabeer F">
      <div class="card2-body text-center">
        <h2 class="card2-title">Tejusve Kabeer F</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
    <div class="card2 d-flex justify-content-center align-items-center m-4">
      <img class="card2-img-top" src="{% static 'images/leadersimg/manoj.jpg' %}" alt="Manoj S">
      <div class="card2-body text-center">
        <h2 class="card2-title">Manoj S</h2>
        <p class="text-center">Joint Secretary</p>
      </div>
    </div>
  </section>

</body>

</html>
{% endblock %}